*.class
bin/
libs/
gen/
gen/xml/
Artemis_Core/bin/
./gen/histos/
.metadata/
*.class
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_2
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/write.lock
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/_remote.repositories
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/jre-1.0.0-20140604.182326-1-call.zip
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/maven-metadata-models.xml
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/jre/jre/1.0.0-SNAPSHOT/resolver-status.properties
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/_remote.repositories
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/index-0.0.0-20140605.014212-1.zip
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_c.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_c.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_c.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_c.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_c.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_c.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_c.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_c.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_d
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_n.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_n.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_n.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_n.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_n.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_n.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_n.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_n.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_o
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_x.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_x.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_x.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_x.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_x.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_x.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_x.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_x.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_y
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_10.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_10.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_10.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_10.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_10.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_10.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_10.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_10.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_11
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_11.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_11.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_11.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_11.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_11.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_11.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_11.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_11.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_12
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1b.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1b.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1b.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1b.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1b.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1b.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1b.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1b.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_1c
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1g.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1g.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1g.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1g.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1g.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1g.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_1g.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_1h
